.search-bar{
padding: 20px;
display: flex;
justify-content: space-around;
}
.seconddiv{
  width: 750px;
}
.display{
  background-color: #5e5b68;
  border-radius: 10px;
  /* padding: 5px; */
  display: flex;
  justify-content: space-between;
}
.city{
  line-height: 15px;
}
input{
  background: none;
  border: none;
  outline: none;
  font-size: medium;
  font-style: italic;
  font-weight: 500;
  color: wheat;
}
.conditions{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  display: grid;
}
.box{
  padding: 6px;
  text-align: center;
}
.forecast{
  display: flex;
  justify-content: space-around;
}
.seven-days{
}
.day{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
}
.thirddiv{
  background-color: #422e70;
  padding: 20px;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 250px;
}