.search-bar{
padding: 20px;
display: flex;
justify-content: space-around;
max-height: 100vh;
}
.seconddiv{
  width: 750px;
  max-height: 100%;
  overflow-y: scroll;
}
.display{
  background-color: #5e5b68;
  border-radius: 10px;
  /* padding: 5px; */
  display: flex;
  justify-content: space-between;
}

.display form {
  width: 100%;
  display: flex;
}

.display form button {
  background-color: #5e5b68;
  border: none;
  border-radius: 10px;
}
.city-display {
  display: flex;
}
.city{
  line-height: 15px;
  flex-grow: 2;
}

.weather-icon {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  background: none;
  border: none;
  outline: none;
  font-size: medium;
  font-style: italic;
  font-weight: 500;
  color: wheat;
  width: 100%;
  padding-left: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.conditions{
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  display: grid;
}
.box{
  padding: 6px;
  text-align: center;
}
.forecast{
  display: flex;
  justify-content: space-around;
}
.seven-days{
}
.day{
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-around;
}
.thirddiv{
  background-color: #422e70;
  padding: 20px;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 250px;
  overflow-y: scroll;
}