.sidebar {
    max-height: 100vh;
    background-color: #422e70;
    padding: 20px;
    top: 0;
    left: 0;
    
    overflow-y: scroll;
}
.sidebar ul {
list-style: none;
padding: 0;
text-align: center;
}
.sidebar ul li {
margin: 10px 0;
padding-top: 20px;
padding-bottom: 20px;
}
.sidebar ul li a {
text-decoration: none;
color: wheat;
} 
.sidebar-link {
    display: flex;
    align-items: center;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  .sidebar-link:hover {
   background-color: rgb(5, 5, 17);
    border-radius: 5px;
  }
  .sidebar-link.active {
    background-color: rgb(5, 5, 17);
    border-radius: 5px;
  }
.cloud{
    display: flex;
}
